.pill {
  font-size: 0.75rem;
  display: inline-flex;
  align-items: center;
  padding: 0 0.75rem;
  height: 1.75rem;
  margin: 0.2rem;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
  color: #666;
}
.pill:not(:first-child) {
  margin-left: 0;
}
