.container {
  max-width: 680px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.5rem;
}

.container.small {
  max-width: 680px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
